<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.trackstudio.viewer"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="11"
              android:maxSdkVersion="21"
              android:targetSdkVersion="21"/>
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:allowBackup="true"
                 android:theme="@android:style/Theme.Holo.Light">
        <activity android:name=".activities.TSViewer"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.DetailsTask"/>

        <activity
            android:name=".activities.Settings"
            android:label="@string/settings">
        </activity>

        <activity
            android:name=".activities.Filters"
            android:label="@string/filters">
        </activity>
        
        <activity
            android:name=".activities.Notifications"
            android:label="@string/notifications">
        </activity>
    </application>
</manifest>
